@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app{
    height: 100%;
    width: 100%;
    font-family: "montserrat";
    @apply bg-primary-500;
    @apply text-redAccent-500;
}
